{{ define "main" }}

<p><b>OpenBind</b> is generating foundational structural biology data to power the next era of AI/ML for drug discovery.</p>

<p>OpenBind is an open science initiative accelerating drug discovery by generating massive, high-quality, fit-for-purpose protein-ligand structure and affinity datasets.
By combining automated crystallography, microscale chemistry, open-source models, and blind community challenges, OpenBind powers the next generation of machine learning tools 
for structure-based drug design, freely available to all.</p>

<!-- Commented out for now.
<p><a href="about/">Learn more about OpenBind.</a></p>

<br/>

<h1>Latest news</h1>

<div class="posts-list">
{{ with .Site.GetPage "/news" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "2006-01-02" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>
-->

{{ end }}